#about {
    color: #fff;
    width: 100%;
    height: auto;
    padding-top: 5%;
    padding-bottom: 5%;
    background: rgb(0, 0, 0);
}
.about-desc {
    color: #2a2a2a;
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin-left: 25%;
}
.about-our {
    width: 100%;
    margin-left: 5%;
    margin-bottom: 5%;
}
.column  {
    float: left;
    width: 30%;
    height: 300px;
    overflow: auto;
    color: #fff;
    text-align: left;
    margin-left: 10px;
    padding: 30px;
    border-radius: 50px;
    background: transparent;
    border-left: 3px solid rgb(20, 110, 20);
}
.column .column-title {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgb(20, 110, 20);
}
.team {
    margin-left: 5%;
}
.team fieldset {
    border: none;
    width: 50%;
    margin-left: 23%;
    border-top: 2px solid #2a2a2a;
}
.team .team-title {
    font-size: 25px;
    font-weight: bold;
    border: none;
    padding: 20px;
    color: #1a2a3a;
    text-transform: uppercase;
}
.team-container {
    float: left;
    width: 30%;
    background: transparent;
    margin-left: 10px;
    text-align: center;
    padding-bottom: 10%;
}
.team-container .name {
    color: #fff;
    font-size: 20px;
}
.team-container .post {
    color: #797979;
    font-size: 15px;
}
.team-container p {
    color: #ffffff;
    font-size: 15px;
}
.team-container .icon {
    padding: 5px;
    border-radius: 20px;
    display: inline-block;
    background: rgb(0, 0, 0);
}
.team-container .icon:hover {
    background: rgb(5,65,115);
}
.more button {
    width: 25%;
    opacity: 0.5;
    margin-top: 5%;
    padding: 15px;
    transition: .5s;
    border-radius: 50px;
    color: #fff;
    border: none;
    text-transform: uppercase;
    background: rgb(20, 110, 20);
}
.more button:hover {
    opacity: 1;
}