header {
    top: 0;
    left: 0px;
    right: 0px;
    z-index: 10;
    padding: 10px;
    position: absolute;
    color: rgb(5, 15, 115);
}
header.fixed {
    border: none;
    position: fixed;
    color: rgb(5, 15, 115);
    background: transparent;
    border-bottom: 1px solid #fff;
}
.lavaLampWithImage {
    margin: 0;
    float: right;
    height: 35px;
    overflow: hidden;
    position: relative;
    padding: 0 5px 15px 0;
}

.lavaLampWithImage li {
    float: left;
    list-style: none;
    max-width: auto;
}

.lavaLampWithImage li.back {
    background: rgb(20, 110, 20);
    background: -moz-linear-gradient(rgb(5,65,115), rgb(20, 110, 20));
    background: -o-linear-gradient(rgb(5,65,115), rgb(20, 110, 20));
    background: -webkit-linear-gradient(rgb(5,65,115), rgb(20, 110, 20));
    height: 30px;
    margin-top: 8px;
    z-index: 8;
    position: absolute;
    border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border: 7px 7px 7px 7px; 
}
.lavaLampWithImage li a {
    color: #000123;
    font-weight: bold;
    font: normal 100% 'News Cycle', sans-serif;
    text-shadow: none;
    text-decoration: none;
    text-transform: uppercase;
    outline: none;
    text-align: center;
    letter-spacing: 0;
    z-index: 10;
    display: block;
    font-size: 12px;
    float: left;
    line-height: 35px;
    padding: 5px 0 5px 0;
    position: relative;
    overflow: hidden;
    margin: auto 20px;    
}
.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active {
    border: none;
    color: #FFF;
}